<?php include_once '../includes/component-header.php'?>
<div class="content content-components">
      <div class="container">
        <ol class="breadcrumb df-breadcrumbs mg-b-10">
          <li class="breadcrumb-item"><a href="#">Components</a></li>
          <li class="breadcrumb-item"><a href="#">UI Elements</a></li>
          <li class="breadcrumb-item active" aria-current="page">Avatar</li>
        </ol>

        <h1 class="df-title">Avatar</h1>
        <p class="df-lead">Avatars are user's face image that you can use throughout the design from tables to dialog or menus with options for sizes and shapes.</p>

        <hr class="mg-y-40" />

        <h4 id="section1" class="mg-b-10">Sizes</h4>
        <p class="mg-b-30">An avatar can have different sizes like larger and smaller avatar.</p>

        <div data-label="Example" class="df-example">
          <div class="demo-avatar-group">
            <div class="avatar avatar-xs"><img src="https://via.placeholder.com/500" class="rounded-circle" alt="" /></div>
            <div class="avatar avatar-sm"><img src="https://via.placeholder.com/500" class="rounded-circle" alt="" /></div>
            <div class="avatar"><img src="https://via.placeholder.com/500" class="rounded-circle" alt="" /></div>
            <div class="avatar avatar-md"><img src="https://via.placeholder.com/500" class="rounded-circle" alt="" /></div>
            <div class="avatar avatar-lg"><img src="https://via.placeholder.com/500" class="rounded-circle" alt="" /></div>
            <div class="avatar avatar-xl d-none d-sm-block"><img src="https://via.placeholder.com/500" class="rounded-circle" alt="" /></div>
            <div class="avatar avatar-xxl d-none d-sm-block"><img src="https://via.placeholder.com/500" class="rounded-circle" alt="" /></div>
          </div>
        </div>
        <pre></pre>

        <hr class="mg-t-50 mg-b-40" />

        <h4 id="section2" class="mg-b-10">Shapes</h4>
        <p class="mg-b-30">An avatar can have different shapes by using Bootstrap's border-radius utilities classes.</p>

        <div data-label="Example" class="df-example">
          <div class="demo-avatar-group">
            <div class="avatar avatar-lg"><img src="https://via.placeholder.com/500" class="rounded-circle" alt="" /></div>
            <div class="avatar avatar-lg"><img src="https://via.placeholder.com/500" class="rounded" alt="" /></div>
          </div>
        </div>
        <pre></pre>


        <hr class="mg-t-50 mg-b-40" />

        <h4 id="section3" class="mg-b-10">Initials</h4>
        <p class="mg-b-30">An avatar can have a temporary use of user's initial name while their photos are not yet available.</p>

        <div data-label="Example" class="df-example">
          <div class="demo-avatar-group">
            <div class="avatar avatar-xs"><span class="avatar-initial rounded-circle">df</span></div>
            <div class="avatar avatar-sm"><span class="avatar-initial rounded-circle">df</span></div>
            <div class="avatar"><span class="avatar-initial rounded-circle">df</span></div>
            <div class="avatar avatar-md"><span class="avatar-initial rounded-circle">df</span></div>
            <div class="avatar avatar-lg"><span class="avatar-initial rounded-circle">df</span></div>
            <div class="avatar avatar-xl d-none d-sm-block"><span class="avatar-initial rounded-circle">df</span></div>
            <div class="avatar avatar-xxl d-none d-sm-block"><span class="avatar-initial rounded-circle">df</span></div>
          </div>
        </div>
        <pre></pre>


        <hr class="mg-t-50 mg-b-40" />

        <h4 id="section4" class="mg-b-10">Status Indicator</h4>
        <p class="mg-b-30">An avatar can have a status indicator to indicate users availability.</p>

        <div data-label="Example" class="df-example">
          <div class="demo-avatar-group">
            <div class="avatar avatar-md avatar-online"><img src="https://via.placeholder.com/500" class="rounded-circle" alt="" /></div>
            <div class="avatar avatar-md avatar-offline"><span class="avatar-initial rounded-circle">df</span></div>
          </div>
        </div>
        <pre></pre>

        

      </div>
    </div>
<?php include_once '../includes/component-footer.php'?>