<?php include_once '../includes/component-header.php'?>
<div class="content content-components">
      <div class="container">
        <ol class="breadcrumb df-breadcrumbs mg-b-10">
          <li class="breadcrumb-item"><a href="#">Components</a></li>
          <li class="breadcrumb-item"><a href="#">UI Elements</a></li>
          <li class="breadcrumb-item active" aria-current="page">Badge</li>
        </ol>

        <h1 class="df-title">Badges</h1>
        <p class="df-lead">Documentation and examples for badges, our small count and labeling component. Read the <a href="https://getbootstrap.com/docs/4.2/components/badge/" target="_blank">Official Bootstrap Documentation</a> for a full list of instructions and other options.</p>

        <hr class="mg-y-40" />

        <h4 id="section1" class="mg-b-10">Contextual Variations</h4>
        <p class="mg-b-30">Add any of the below mentioned modifier classes to change the appearance of a badge.</p>

        <div data-label="Example" class="df-example">
          <span class="badge badge-primary">Primary</span>
          <span class="badge badge-secondary">Secondary</span>
          <span class="badge badge-success">Success</span>
          <span class="badge badge-danger">Danger</span>
          <span class="badge badge-warning">Warning</span>
          <span class="badge badge-info">Info</span>
          <span class="badge badge-light">Light</span>
          <span class="badge badge-dark">Dark</span>
        </div>
        <pre></pre>

        <hr class="mg-t-50 mg-b-40" />

        <h4 id="section2" class="mg-b-10">Pill Badges</h4>
        <p class="mg-b-30">Use the <code>.badge-pill</code> modifier class to make badges more rounded.</p>

        <div data-label="Example" class="df-example">
          <span class="badge badge-pill badge-primary">Primary</span>
          <span class="badge badge-pill badge-secondary">Secondary</span>
          <span class="badge badge-pill badge-success">Success</span>
          <span class="badge badge-pill badge-danger">Danger</span>
          <span class="badge badge-pill badge-warning">Warning</span>
          <span class="badge badge-pill badge-info">Info</span>
          <span class="badge badge-pill badge-light">Light</span>
          <span class="badge badge-pill badge-dark">Dark</span>
        </div>
        <pre></pre>

        <hr class="mg-t-50 mg-b-40" />

        <h4 id="section3" class="mg-b-10">Link Badges</h4>
        <p class="mg-b-30">Using the contextual badge classes on an element quickly provide actionable badges with hover and focus states.</p>

        <div data-label="Example" class="df-example">
          <a href="#" class="badge badge-primary">Primary</a>
          <a href="#" class="badge badge-secondary">Secondary</a>
          <a href="#" class="badge badge-success">Success</a>
          <a href="#" class="badge badge-danger">Danger</a>
          <a href="#" class="badge badge-warning">Warning</a>
          <a href="#" class="badge badge-info">Info</a>
          <a href="#" class="badge badge-light">Light</a>
          <a href="#" class="badge badge-dark">Dark</a>
        </div>
        <pre></pre>

        

      </div>
    </div>
<?php include_once '../includes/component-footer.php'?>