<?php include_once '../includes/component-header.php'?>
<div class="content content-components">
    <div class="container">
      <ol class="breadcrumb df-breadcrumbs mg-b-10">
        <li class="breadcrumb-item"><a href="#">Components</a></li>
        <li class="breadcrumb-item"><a href="#">UI Elements</a></li>
        <li class="breadcrumb-item active" aria-current="page">Breadcrumbs</li>
      </ol>

      <h1 class="df-title">Breadcrumbs</h1>
      <p class="df-lead">Indicate the current page’s location within a navigational hierarchy that automatically adds separators via CSS. Read the <a href="https://getbootstrap.com/docs/4.2/components/breadcrumb/" target="_blank">Official Bootstrap Documentation</a> for a full list of instructions and other options.</p>

      <hr class="mg-y-40" />

      <h4 id="section1" class="mg-b-10">Basic Styling</h4>
      <p class="mg-b-30">The example below is the basic styling of the breadcrumb from Bootstrap.</p>

      <div data-label="Example" class="df-example">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mg-b-0">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Library</a></li>
            <li class="breadcrumb-item active" aria-current="page">Data</li>
          </ol>
        </nav>
      </div>
      <pre></pre>

        <hr class="mg-t-50 mg-b-40" />

        <h4 id="section2" class="mg-b-10">Custom Styling</h4>
        <p class="mg-b-30">The example below is the custom styling of the breadcrumb used by this template.</p>

        <div data-label="Example" class="df-example">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-style1 mg-b-0">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="#">Library</a></li>
              <li class="breadcrumb-item active" aria-current="page">Data</li>
            </ol>
          </nav>
        </div>
        <pre></pre>

          <hr class="mg-t-50 mg-b-40" />

          <h4 id="section3" class="mg-b-10">Custom Divider</h4>
          <p class="mg-b-30">The example below is the custom styling of the breadcrumb using different divider.</p>

          <div data-label="Example" class="df-example">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb breadcrumb-style2">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Library</a></li>
                <li class="breadcrumb-item active" aria-current="page">Data</li>
              </ol>
            </nav>

            <nav aria-label="breadcrumb">
              <ol class="breadcrumb breadcrumb-style3 mg-b-0">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Library</a></li>
                <li class="breadcrumb-item active" aria-current="page">Data</li>
              </ol>
            </nav>
          </div>
          <pre></pre>

            

          </div>
        </div>
<?php include_once '../includes/component-footer.php'?>