<?php include_once '../includes/component-header.php'?>
<div class="content content-components">
      <div class="container">
        <ol class="breadcrumb df-breadcrumbs mg-b-10">
          <li class="breadcrumb-item"><a href="#">Components</a></li>
          <li class="breadcrumb-item"><a href="#">UI Elements</a></li>
          <li class="breadcrumb-item active" aria-current="page">Dropdown</li>
        </ol>

        <h1 class="df-title">Dropdown</h1>
        <p class="df-lead">Dropdowns are toggleable, contextual overlays for displaying lists of links and more. They’re made interactive with the included Bootstrap dropdown javascript plugin. Read the <a href="https://getbootstrap.com/docs/4.2/components/dropdowns/" target="_blank">Official Bootstrap Documentation</a> for a full list of instructions and other options.</p>

        <hr class="mg-y-40" />

        <h4 id="section1" class="mg-b-10">Basic Example</h4>
        <p class="mg-b-30">Wrap the dropdown’s toggle (your button or link) and the dropdown menu within <code>.dropdown</code>, or another element that declares position relative. Dropdowns can be triggered from link or button elements to better fit your potential needs.</p>

        <div data-label="Example" class="df-example">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown Menu
            </button>
            <div class="dropdown-menu tx-13" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
        <pre></pre>

        <hr class="mg-t-50 mg-b-40" />

        <h4 id="section2" class="mg-b-10">Dropup</h4>
        <p class="mg-b-30">Trigger dropdown menus above elements by adding dropup class to the parent element.</p>

        <div data-label="Example" class="df-example">
          <div class="dropdown dropup">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropup Menu
            </button>
            <div class="dropdown-menu tx-13" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
        <pre></pre>

        <hr class="mg-t-50 mg-b-40" />

        <h4 id="section3" class="mg-b-10">Dropright</h4>
        <p class="mg-b-30">Trigger dropdown menus above elements by adding dropright class to the parent element.</p>

        <div data-label="Example" class="df-example">
          <div class="dropdown dropright">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="droprightMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropright Menu
            </button>
            <div class="dropdown-menu tx-13" aria-labelledby="droprightMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
        <pre></pre>

        <hr class="mg-t-50 mg-b-40" />

        <h4 id="section4" class="mg-b-10">Dropleft</h4>
        <p class="mg-b-30">Trigger dropdown menus above elements by adding dropleft class to the parent element.</p>

        <div data-label="Example" class="df-example">
          <div class="dropdown dropleft">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropleftMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropright Menu
            </button>
            <div class="dropdown-menu tx-13" aria-labelledby="dropleftMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
        <pre></pre>

        <hr class="mg-t-50 mg-b-40" />

        <h4 id="section5" class="mg-b-10">Active Menu Item</h4>
        <p class="mg-b-30">Add active class to items in the dropdown to style them as active.</p>

        <div data-label="Example" class="df-example">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown Menu
            </button>
            <div class="dropdown-menu tx-13">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item active" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
        <pre></pre>

        <hr class="mg-t-50 mg-b-40" />

        <h4 id="section6" class="mg-b-10">Disabled Menu Item</h4>
        <p class="mg-b-30">Add disabled class to items in the dropdown to style them as disabled.</p>

        <div data-label="Example" class="df-example">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown Menu
            </button>
            <div class="dropdown-menu tx-13">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item disabled" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
        <pre></pre>

        <hr class="mg-t-50 mg-b-40" />

        <h4 id="section7" class="mg-b-10">Dropdown Header</h4>
        <p class="mg-b-30">Add a header to label sections of actions in any dropdown menu.</p>

        <div data-label="Example" class="df-example">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown Menu
            </button>
            <div class="dropdown-menu tx-13">
              <h6 class="dropdown-header tx-uppercase tx-11 tx-bold tx-inverse tx-spacing-1">Dropdown header</h6>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
        <pre></pre>

        <hr class="mg-t-50 mg-b-40" />

        <h4 id="section8" class="mg-b-10">Dropdown Divider</h4>
        <p class="mg-b-30">Separate groups of related menu items with a divider.</p>

        <div data-label="Example" class="df-example">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown Menu
            </button>
            <div class="dropdown-menu tx-13">
              <h6 class="dropdown-header tx-uppercase tx-11 tx-bold tx-inverse tx-spacing-1">Dropdown header</h6>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </div>
        </div>
        <pre></pre>

        <hr class="mg-t-50 mg-b-40" />

        <h4 id="section9" class="mg-b-10">Text in Dropdown</h4>
        <p class="mg-b-30">Place any freeform text within a dropdown menu with text and use spacing utilities. Note that you’ll likely need additional sizing styles to constrain the menu width.</p>

        <div data-label="Example" class="df-example">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown Menu
            </button>
            <div class="dropdown-menu tx-13">
              <div class="wd-200 pd-15">
                <p>Some example text that's free-flowing within the dropdown menu.</p>
                <p class="mb-0">And this is more example text.</p>
              </div>
            </div>
          </div>
        </div>
        <pre></pre>

        <hr class="mg-t-50 mg-b-40" />

        <h4 id="section10" class="mg-b-10">Form in Dropdown</h4>
        <p class="mg-b-30">Put a form within a dropdown menu, or make it into a dropdown menu, and use margin or padding utilities to give it the negative space you require.</p>

        <div data-label="Example" class="df-example">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown Menu
            </button>
            <div class="dropdown-menu tx-13">
              <form class="wd-250 pd-15" action="el-dropdown.html">
                <h5 class="tx-inverse mg-b-20">Signin</h5>
                <div class="form-group">
                  <label for="exampleDropdownFormEmail1">Email address</label>
                  <input type="email" class="form-control tx-14" id="exampleDropdownFormEmail1" placeholder="email@example.com" />
                </div>
                <div class="form-group">
                  <label for="exampleDropdownFormPassword1">Password</label>
                  <input type="password" class="form-control tx-14" id="exampleDropdownFormPassword1" placeholder="Password" />
                </div>
                <button type="submit" class="btn btn-primary btn-block">Sign in</button>

                <hr />
                <a class="d-block" href="#">New around here? Sign up</a>
                <a class="d-block mg-t-5" href="#">Forgot password?</a>
              </form>
            </div>
          </div>
        </div>
        <pre></pre>

        

      </div>
    </div>
<?php include_once '../includes/component-footer.php'?>