<?php include_once '../includes/component-header.php'?>
<div class="content content-components">
      <div class="container">
        <ol class="breadcrumb df-breadcrumbs mg-b-10">
          <li class="breadcrumb-item"><a href="#">Components</a></li>
          <li class="breadcrumb-item"><a href="#">UI Elements</a></li>
          <li class="breadcrumb-item active" aria-current="page">Icons</li>
        </ol>

        <h1 class="df-title">Icons</h1>
        <p class="df-lead">A font icons and svg icons from different open source collections for you to use anywhere in the design of your project.</p>

        <hr class="mg-y-40" />

        <h4 id="section1" class="mg-b-10">Feather Icons</h4>
        <p class="tx-14 mg-b-25">Feather is a collection of simply beautiful open source icons. Each icon is designed on a 24x24 grid with an emphasis on simplicity, consistency and usability. <a href="https://feathericons.com/" target="_blank">https://feathericons.com/</a></p>

        <div class="alert alert-primary tx-13 mg-b-35">For a complete list of feather icons, please check <a href="https://feathericons.com/" target="_blank">Feather Icons Official Website</a></div>

        <div data-label="Preview" class="df-example">
          <div class="row">
            <div class="col"><i data-feather="activity"></i></div>
            <div class="col"><i data-feather="airplay"></i></div>
            <div class="col"><i data-feather="alert-circle"></i></div>
            <div class="col"><i data-feather="alert-octagon"></i></div>
            <div class="col"><i data-feather="alert-triangle"></i></div>
            <div class="wd-100p mg-t-20 d-sm-none"></div>
            <div class="col"><i data-feather="anchor"></i></div>
            <div class="col"><i data-feather="aperture"></i></div>
            <div class="col"><i data-feather="archive"></i></div>
            <div class="col"><i data-feather="bell"></i></div>
            <div class="col"><i data-feather="bell-off"></i></div>
            <div class="wd-100p mg-t-20"></div>
            <div class="col"><i data-feather="book"></i></div>
            <div class="col"><i data-feather="book-open"></i></div>
            <div class="col"><i data-feather="box"></i></div>
            <div class="col"><i data-feather="briefcase"></i></div>
            <div class="col"><i data-feather="calendar"></i></div>
            <div class="wd-100p mg-t-20 d-sm-none"></div>
            <div class="col"><i data-feather="camera"></i></div>
            <div class="col"><i data-feather="cast"></i></div>
            <div class="col"><i data-feather="activity"></i></div>
            <div class="col"><i data-feather="chrome"></i></div>
            <div class="col"><i data-feather="clipboard"></i></div>
            <div class="wd-100p mg-t-20"></div>
            <div class="col"><i data-feather="codepen"></i></div>
            <div class="col"><i data-feather="coffee"></i></div>
            <div class="col"><i data-feather="command"></i></div>
            <div class="col"><i data-feather="credit-card"></i></div>
            <div class="col"><i data-feather="database"></i></div>
            <div class="wd-100p mg-t-20 d-sm-none"></div>
            <div class="col"><i data-feather="file-text"></i></div>
            <div class="col"><i data-feather="file"></i></div>
            <div class="col"><i data-feather="folder"></i></div>
            <div class="col"><i data-feather="gift"></i></div>
            <div class="col"><i data-feather="globe"></i></div>
            <div class="wd-100p mg-t-20"></div>
            <div class="col"><i data-feather="headphones"></i></div>
            <div class="col"><i data-feather="heart"></i></div>
            <div class="col"><i data-feather="home"></i></div>
            <div class="col"><i data-feather="image"></i></div>
            <div class="col"><i data-feather="inbox"></i></div>
            <div class="wd-100p mg-t-20 d-sm-none"></div>
            <div class="col"><i data-feather="info"></i></div>
            <div class="col"><i data-feather="instagram"></i></div>
            <div class="col"><i data-feather="layers"></i></div>
            <div class="col"><i data-feather="layout"></i></div>
            <div class="col"><i data-feather="life-buoy"></i></div>
            <div class="wd-100p mg-t-20"></div>
            <div class="col"><i data-feather="lock"></i></div>
            <div class="col"><i data-feather="mail"></i></div>
            <div class="col"><i data-feather="map-pin"></i></div>
            <div class="col"><i data-feather="map"></i></div>
            <div class="col"><i data-feather="menu"></i></div>
            <div class="wd-100p mg-t-20 d-sm-none"></div>
            <div class="col"><i data-feather="monitor"></i></div>
            <div class="col"><i data-feather="moon"></i></div>
            <div class="col"><i data-feather="music"></i></div>
            <div class="col"><i data-feather="package"></i></div>
            <div class="col"><i data-feather="phone"></i></div>
          </div>
        </div>
        <pre></pre>

        <hr class="mg-t-50 mg-b-40" />

        <h4 id="section2" class="mg-b-10">Ionicons</h4>
        <p class="tx-14 mg-b-25">Premium designed icons for use in web, iOS, Android, and desktop apps. Support for SVG and web font. Completely open source, MIT licensed and built by the <a href="https://ionicframework.com/" target="_blank">Ionic Framework</a> team.</p>

        <div class="alert alert-primary tx-13 mg-b-35">For a complete list of ionicons icons, please check <a href="https://ionicons.com/" target="_blank">Ionicons Official Website</a></div>

        <div data-label="Preview" class="df-example">
          <div class="row demo-icons-group">
            <div class="col"><i class="icon ion-md-add-circle-outline"></i></div>
            <div class="col"><i class="icon ion-md-add"></i></div>
            <div class="col"><i class="icon ion-md-alarm"></i></div>
            <div class="col"><i class="icon ion-md-alert"></i></div>
            <div class="col"><i class="icon ion-md-aperture"></i></div>
            <div class="wd-100p mg-t-20 d-sm-none"></div>
            <div class="col"><i class="icon ion-md-arrow-back"></i></div>
            <div class="col"><i class="icon ion-md-arrow-down"></i></div>
            <div class="col"><i class="icon ion-md-arrow-forward"></i></div>
            <div class="col"><i class="icon ion-md-arrow-up"></i></div>
            <div class="col"><i class="icon ion-md-attach"></i></div>
            <div class="wd-100p mg-t-20"></div>
            <div class="col"><i class="icon ion-md-barcode"></i></div>
            <div class="col"><i class="icon ion-md-basketball"></i></div>
            <div class="col"><i class="icon ion-md-beaker"></i></div>
            <div class="col"><i class="icon ion-md-bed"></i></div>
            <div class="col"><i class="icon ion-md-beer"></i></div>
            <div class="wd-100p mg-t-20 d-sm-none"></div>
            <div class="col"><i class="icon ion-md-boat"></i></div>
            <div class="col"><i class="icon ion-md-bonfire"></i></div>
            <div class="col"><i class="icon ion-md-book"></i></div>
            <div class="col"><i class="icon ion-md-bus"></i></div>
            <div class="col"><i class="icon ion-md-business"></i></div>
            <div class="wd-100p mg-t-20"></div>
            <div class="col"><i class="icon ion-md-calculator"></i></div>
            <div class="col"><i class="icon ion-md-camera"></i></div>
            <div class="col"><i class="icon ion-md-car"></i></div>
            <div class="col"><i class="icon ion-md-card"></i></div>
            <div class="col"><i class="icon ion-md-chatboxes"></i></div>
            <div class="wd-100p mg-t-20 d-sm-none"></div>
            <div class="col"><i class="icon ion-md-clipboard"></i></div>
            <div class="col"><i class="icon ion-md-close-circle-outline"></i></div>
            <div class="col"><i class="icon ion-md-color-filter"></i></div>
            <div class="col"><i class="icon ion-md-copy"></i></div>
            <div class="col"><i class="icon ion-md-cube"></i></div>
          </div>
        </div>
        <pre></pre>

        <hr class="mg-t-50 mg-b-40" />

        <h4 id="section3" class="mg-b-10">FontAwesome</h4>
        <p class="tx-14 mg-b-25">Get vector icons and social logos on your website with Font Awesome, the web's most popular icon set and toolkit. </p>

        <div class="alert alert-primary tx-13 mg-b-35">For a complete list of FontAwesome icons, please check <a href="https://fontawesome.com/" target="_blank">FontAwesome Official Website</a></div>

        <div data-label="Preview" class="df-example">
          <div class="row demo-icons-group">
            <div class="col"><i class="far fa-address-book"></i></div>
            <div class="col"><i class="far fa-address-card"></i></div>
            <div class="col"><i class="far fa-bell"></i></div>
            <div class="col"><i class="far fa-bell-slash"></i></div>
            <div class="col"><i class="far fa-bookmark"></i></div>
            <div class="wd-100p mg-t-20 d-sm-none"></div>
            <div class="col"><i class="far fa-building"></i></div>
            <div class="col"><i class="far fa-calendar"></i></div>
            <div class="col"><i class="far fa-calendar-check"></i></div>
            <div class="col"><i class="far fa-calendar-minus"></i></div>
            <div class="col"><i class="far fa-calendar-plus"></i></div>
            <div class="wd-100p mg-t-20"></div>
            <div class="col"><i class="far fa-chart-bar"></i></div>
            <div class="col"><i class="far fa-check-circle"></i></div>
            <div class="col"><i class="far fa-check-square"></i></div>
            <div class="col"><i class="far fa-clipboard"></i></div>
            <div class="col"><i class="far fa-clock"></i></div>
            <div class="wd-100p mg-t-20 d-sm-none"></div>
            <div class="col"><i class="far fa-clone"></i></div>
            <div class="col"><i class="far fa-comment"></i></div>
            <div class="col"><i class="far fa-comment-alt"></i></div>
            <div class="col"><i class="far fa-comment-dots"></i></div>
            <div class="col"><i class="far fa-compass"></i></div>
            <div class="wd-100p mg-t-20"></div>
            <div class="col"><i class="far fa-copy"></i></div>
            <div class="col"><i class="far fa-copyright"></i></div>
            <div class="col"><i class="far fa-edit"></i></div>
            <div class="col"><i class="far fa-envelope"></i></div>
            <div class="col"><i class="far fa-eye"></i></div>
            <div class="wd-100p mg-t-20 d-sm-none"></div>
            <div class="col"><i class="far fa-file"></i></div>
            <div class="col"><i class="far fa-file-alt"></i></div>
            <div class="col"><i class="far fa-file-archive"></i></div>
            <div class="col"><i class="far fa-file-pdf"></i></div>
            <div class="col"><i class="far fa-file-word"></i></div>
          </div>
        </div>
        <pre></pre>


        <hr class="mg-t-50 mg-b-40" />

        <h4 id="section4" class="mg-b-10">Typicons</h4>
        <p class="tx-14 mg-b-25">Typicons are free-to-use vector icons embedded in a webfont for easy use in any UI, whether it be on the web or in a native app.</p>

        <div class="alert alert-primary tx-13 mg-b-35">For a complete list of Typicon icons, please check <a href="https://www.s-ings.com/typicons/" target="_blank">Typicon Official Website</a></div>

        <div data-label="Preview" class="df-example">
          <div class="row demo-icons-group">
            <div class="col"><i class="typcn typcn-archive"></i></div>
            <div class="col"><i class="typcn typcn-arrow-back-outline"></i></div>
            <div class="col"><i class="typcn typcn-arrow-back"></i></div>
            <div class="col"><i class="typcn typcn-arrow-down-outline"></i></div>
            <div class="col"><i class="typcn typcn-arrow-down"></i></div>
            <div class="wd-100p mg-t-20 d-sm-none"></div>
            <div class="col"><i class="typcn typcn-arrow-forward-outline"></i></div>
            <div class="col"><i class="typcn typcn-arrow-forward"></i></div>
            <div class="col"><i class="typcn typcn-arrow-left-outline"></i></div>
            <div class="col"><i class="typcn typcn-arrow-left"></i></div>
            <div class="col"><i class="typcn typcn-arrow-move-outline"></i></div>
            <div class="wd-100p mg-t-20"></div>
            <div class="col"><i class="typcn typcn-attachment-outline"></i></div>
            <div class="col"><i class="typcn typcn-attachment"></i></div>
            <div class="col"><i class="typcn typcn-backspace-outline"></i></div>
            <div class="col"><i class="typcn typcn-backspace"></i></div>
            <div class="col"><i class="typcn typcn-coffee"></i></div>
            <div class="wd-100p mg-t-20 d-sm-none"></div>
            <div class="col"><i class="typcn typcn-cog-outline"></i></div>
            <div class="col"><i class="typcn typcn-cog"></i></div>
            <div class="col"><i class="typcn typcn-compass"></i></div>
            <div class="col"><i class="typcn typcn-contacts"></i></div>
            <div class="col"><i class="typcn typcn-credit-card"></i></div>
            <div class="wd-100p mg-t-20"></div>
            <div class="col"><i class="typcn typcn-database"></i></div>
            <div class="col"><i class="typcn typcn-delete-outline"></i></div>
            <div class="col"><i class="typcn typcn-delete"></i></div>
            <div class="col"><i class="typcn typcn-device-laptop"></i></div>
            <div class="col"><i class="typcn typcn-device-desktop"></i></div>
            <div class="wd-100p mg-t-20 d-sm-none"></div>
            <div class="col"><i class="typcn typcn-device-phone"></i></div>
            <div class="col"><i class="typcn typcn-device-tablet"></i></div>
            <div class="col"><i class="typcn typcn-directions"></i></div>
            <div class="col"><i class="typcn typcn-document-add"></i></div>
            <div class="col"><i class="typcn typcn-document-delete"></i></div>
          </div>
        </div>
        <pre></pre>

        

      </div>
    </div>
<?php include_once '../includes/component-footer.php'?>