<?php include_once '../includes/component-header.php'?>
<div class="content content-components">
      <div class="container">
        <ol class="breadcrumb df-breadcrumbs mg-b-10">
          <li class="breadcrumb-item"><a href="#">Components</a></li>
          <li class="breadcrumb-item"><a href="#">UI Elements</a></li>
          <li class="breadcrumb-item active" aria-current="page">Images</li>
        </ol>

        <h1 class="df-title">Images</h1>
        <p class="df-lead">Documentation and examples for opting images into responsive behavior (so they never become larger than their parent elements) and add lightweight styles to them—all via classes. </p>

        <hr class="mg-y-40" />

        <h4 id="section1" class="mg-b-10">Responsive Images</h4>
        <p class="mg-b-30">Images in Bootstrap are made responsive with .img-fluid. max-width: 100%; and height: auto; are applied to the image so that it scales with the parent element.</p>

        <div data-label="Preview" class="df-example">
          <img src="https://via.placeholder.com/640x426" class="img-fluid" alt="Responsive image" />
        </div>
        <pre></pre>

        <hr class="mg-t-50 mg-b-40" />

        <h4 id="section2" class="mg-b-10">Image Thumbnails</h4>
        <p class="mg-b-30">In addition to our border-radius utilities, you can use <code>.img-thumbnail</code> to give an image a rounded 1px border appearance.</p>

        <div data-label="Preview" class="df-example">
          <img src="https://via.placeholder.com/640x426" class="img-thumbnail wd-100p wd-sm-200" alt="Responsive image" />
        </div>
        <pre></pre>

        <hr class="mg-t-50 mg-b-40" />

        <h4 id="section3" class="mg-b-10">Aligning Images</h4>
        <p class="mg-b-30">Align images with the helper float classes or text alignment classes.</p>

        <div data-label="Preview" class="df-example clearfix">
          <img src="https://via.placeholder.com/640x426" class="rounded float-sm-left wd-100p wd-sm-200" alt="" />
          <img src="https://via.placeholder.com/640x426" class="rounded float-sm-right wd-100p wd-sm-200 mg-t-10 mg-sm-t-0" alt="" />
        </div>
        <pre></pre>

        <hr class="mg-t-50 mg-b-40" />

        <h4 id="section4" class="mg-b-10">Background Image</h4>
        <p class="mg-b-30">Make image as background to your content using the helper or utilities classes.</p>

        <div data-label="Preview" class="df-example">
          <figure class="pos-relative mg-b-0 wd-sm-80p wd-md-50p">
            <img src="https://via.placeholder.com/640x426" class="img-fit-cover" alt="Responsive image" />
            <figcaption class="pos-absolute a-0 pd-25 tx-white-8">
              <h6 class="tx-14 tx-sm-16 tx-white tx-semibold mg-b-15 mg-sm-b-20">What Does Royalty-Free Mean?</h6>
              <p class="mg-b-0">Royalty free means you just need to pay for rights to use the item once per end product. You don't need to pay additional or ongoing fees for each person who sees or uses it.</p>
            </figcaption>
          </figure>
        </div>
        <pre></pre>

        <hr class="mg-t-50 mg-b-40" />

        <h4 id="section5" class="mg-b-10">Image Toolbar</h4>
        <p class="mg-b-30">Display toolbar by using button group component to image with the help of utilities classes.</p>

        <div data-label="Preview" class="df-example">
          <figure class="pos-relative mg-b-0 wd-md-50p">
            <img src="https://via.placeholder.com/640x426" class="img-fit-cover" alt="Responsive image" />
            <figcaption class="pos-absolute b-0 l-0 wd-100p pd-20 d-flex justify-content-center">
              <div class="btn-group">
                <a href="" class="btn btn-dark btn-icon"><i data-feather="download"></i></a>
                <a href="" class="btn btn-dark btn-icon"><i data-feather="edit-2"></i></a>
                <a href="" class="btn btn-dark btn-icon"><i data-feather="maximize-2"></i></a>
                <a href="" class="btn btn-dark btn-icon"><i data-feather="trash-2"></i></a>
              </div>
            </figcaption>
          </figure>
        </div>
        <pre></pre>

        <hr class="mg-t-50 mg-b-40" />

        <h4 id="section6" class="mg-b-10">Caption on Hover</h4>
        <p class="mg-b-30">Display caption of an image by hovering the image with the use of utilities class.</p>

        <div data-label="Preview" class="df-example">
          <div class="row row-sm">
            <div class="col-md">
              <figure class="img-caption pos-relative mg-b-0">
                <img src="https://via.placeholder.com/640x426" class="img-fit-cover" alt="Responsive image" />
                <figcaption class="pos-absolute a-0 wd-100p pd-20 d-flex flex-column justify-content-center bg-white-9 transition-base op-0">
                  <h6 class="tx-14 tx-sm-16 tx-inverse tx-semibold mg-b-15 mg-sm-b-20">What Does Royalty-Free Mean?</h6>
                  <p class="mg-b-0">Royalty free means you just need to pay for rights to use the item once per end product. You don't need to pay additional or ongoing fees for each person who sees or uses it.</p>
                </figcaption>
              </figure>
            </div>
            <div class="col-md mg-t-10 mg-md-t-0">
              <figure class="img-caption pos-relative mg-b-0">
                <img src="https://via.placeholder.com/640x426" class="img-fit-cover" alt="Responsive image" />
                <figcaption class="pos-absolute a-0 wd-100p pd-20 d-flex flex-column justify-content-center bg-black-8 transition-base op-0">
                  <h6 class="tx-14 tx-sm-16 tx-white tx-semibold mg-b-15 mg-sm-b-20">What Does Royalty-Free Mean?</h6>
                  <p class="mg-b-0 tx-white-7">Royalty free means you just need to pay for rights to use the item once per end product. You don't need to pay additional or ongoing fees for each person who sees or uses it.</p>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
        <pre></pre>

        <pre></pre>

        <hr class="mg-t-50 mg-b-40" />

        <h4 id="section7" class="mg-b-10">Image Group</h4>
        <p class="mg-b-30">This is a group of images overlapping each other.</p>

        <div data-label="Example" class="df-example">
          <div class="img-group">
            <img src="https://via.placeholder.com/350" class="img wd-40 wd-sm-60 ht-40 ht-sm-60 rounded-circle" alt="" />
            <img src="https://via.placeholder.com/600" class="img wd-40 wd-sm-60 ht-40 ht-sm-60 rounded-circle" alt="" />
            <img src="https://via.placeholder.com/500" class="img wd-40 wd-sm-60 ht-40 ht-sm-60 rounded-circle" alt="" />
            <img src="https://via.placeholder.com/500" class="img wd-40 wd-sm-60 ht-40 ht-sm-60 rounded-circle" alt="" />
            <img src="https://via.placeholder.com/500" class="img wd-40 wd-sm-60 ht-40 ht-sm-60 rounded-circle" alt="" />
            <img src="https://via.placeholder.com/500" class="img wd-40 wd-sm-60 ht-40 ht-sm-60 rounded-circle" alt="" />
          </div>
        </div>

        <pre></pre>

        

      </div>
    </div>
<?php include_once '../includes/component-footer.php'?>