<?php include_once '../includes/component-header.php'?>
<div class="content content-components">
      <div class="container">
        <ol class="breadcrumb df-breadcrumbs mg-b-10">
          <li class="breadcrumb-item"><a href="#">Components</a></li>
          <li class="breadcrumb-item"><a href="#">UI Elements</a></li>
          <li class="breadcrumb-item active" aria-current="page">Modal</li>
        </ol>

        <h1 class="df-title">Modal</h1>
        <p class="df-lead">Add dialogs to your site for lightboxes, user notifications, or completely custom content. Read the <a href="https://getbootstrap.com/docs/4.2/components/modal/" target="_blank">Official Bootstrap Documentation</a> for a full list of instructions and other options.</p>

        <hr class="mg-y-40" />

        <h4 id="section1" class="mg-b-10">Basic Example</h4>
        <p class="mg-b-30">Below is the static example of the basic modal.</p>

        <div data-label="Example" class="df-example">
          <div class="demo-modal-static">
            <div class="modal" tabindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h6 class="modal-title">Modal Title</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p class="mg-b-0">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. </p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="demo-modal-btn bd-t-0">
          <a href="#modal1" class="btn btn-dark" data-toggle="modal">View Live Demo</a>
        </div>

        <hr class="mg-y-40" />

        <h4 id="section2" class="mg-b-10">Vertically Centered</h4>
        <p class="mg-b-30">Display modal in the center of the screen by adding  <code>.modal-dialog-centered</code> to <code>.modal-dialog</code>.</p>

        <div class="demo-modal-btn">
          <a href="#modal2" class="btn btn-dark" data-toggle="modal">View Live Demo</a>
        </div>

        <hr class="mg-y-40" />

        <h4 id="section3" class="mg-b-10">Optional Sizes</h4>
        <p class="mg-b-30">Modals have three optional sizes, available via modifier classes to be placed on a <code>.modal-dialog</code>.</p>

        <div class="demo-modal-btn">
          <a href="#modal3" class="btn btn-dark" data-toggle="modal">Extra Large Modal</a>
          <a href="#modal4" class="btn btn-dark" data-toggle="modal">Large Modal</a>
          <a href="#modal5" class="btn btn-dark" data-toggle="modal">Small Modal</a>
        </div>

        <hr class="mg-y-40" />

        <h4 id="section4" class="mg-b-10">Change Animation</h4>
        <p class="mg-b-30">Below are different kind of effects to choose from.</p>

        <div class="demo-modal-btn d-block pd-x-10 tx-center">
          <div class="row row-xs">
            <div class="col-sm-6 col-md-3">
              <a href="#modal6" class="btn btn-dark btn-block" data-toggle="modal" data-animation="effect-scale">Scale</a>
            </div>
            <div class="col-sm-6 col-md-3 mg-t-10 mg-sm-t-0">
              <a href="#modal6" class="btn btn-dark btn-block" data-toggle="modal" data-animation="effect-slide-in-right">Slide In Right</a>
            </div>
            <div class="col-sm-6 col-md-3 mg-t-10 mg-md-t-0">
              <a href="#modal6" class="btn btn-dark btn-block" data-toggle="modal" data-animation="effect-slide-in-bottom">Slide In Bottom</a>
            </div>
            <div class="col-sm-6 col-md-3 mg-t-10 mg-md-t-0">
              <a href="#modal6" class="btn btn-dark btn-block" data-toggle="modal" data-animation="effect-newspaper">Newspaper</a>
            </div>
            <div class="col-sm-6 col-md-3 mg-t-10">
              <a href="#modal6" class="btn btn-dark btn-block" data-toggle="modal" data-animation="effect-fall">Fall</a>
            </div>
            <div class="col-sm-6 col-md-3 mg-t-10">
              <a href="#modal6" class="btn btn-dark btn-block" data-toggle="modal" data-animation="effect-flip-horizontal">Flip Horizontal</a>
            </div>
            <div class="col-sm-6 col-md-3 mg-t-10">
              <a href="#modal6" class="btn btn-dark btn-block" data-toggle="modal" data-animation="effect-flip-vertical">Flip Vertical</a>
            </div>
            <div class="col-sm-6 col-md-3 mg-t-10">
              <a href="#modal6" class="btn btn-dark btn-block" data-toggle="modal" data-animation="effect-super-scaled">Super Scaled</a>
            </div>
            <div class="col-sm-6 col-md-3 mg-t-10">
              <a href="#modal6" class="btn btn-dark btn-block" data-toggle="modal" data-animation="effect-sign">Sign</a>
            </div>
            <div class="col-sm-6 col-md-3 mg-t-10">
              <a href="#modal6" class="btn btn-dark btn-block" data-toggle="modal" data-animation="effect-rotate-bottom">Rotate Bottom</a>
            </div>
            <div class="col-sm-6 col-md-3 mg-t-10">
              <a href="#modal6" class="btn btn-dark btn-block" data-toggle="modal" data-animation="effect-rotate-left">Rotate Left</a>
            </div>
            <div class="col-sm-6 col-md-3 mg-t-10">
              <a href="#modal6" class="btn btn-dark btn-block" data-toggle="modal" data-animation="effect-just-me">Just Me</a>
            </div>
          </div>
        </div>

          <hr class="mg-y-40" />

          <h4 id="section5" class="mg-b-10">Remove Animation</h4>
          <p class="mg-b-30">For modals that simply appear rather than fade in to view, remove the .fade class from your modal markup.</p>

          <div class="demo-modal-btn">
            <a href="#modal7" class="btn btn-dark" data-toggle="modal">View Modal</a>
          </div>

          

      </div>
    </div>
<?php include_once '../includes/component-footer.php'?>