<?php include_once '../includes/component-header.php'?>
<div class="content content-components">
        <div class="container">
          <ol class="breadcrumb df-breadcrumbs mg-b-10">
            <li class="breadcrumb-item"><a href="#">Components</a></li>
            <li class="breadcrumb-item"><a href="#">UI Elements</a></li>
            <li class="breadcrumb-item active" aria-current="page">Off-Canvas</li>
          </ol>

          <h1 class="df-title">Off-Canvas</h1>
          <p class="df-lead">Documentation and examples of off-canvas sidebar that slides in and out of the screen, which is mostly used as mobile navigations.</p>

          <hr class="mg-y-40" />

          <h4 id="section1" class="mg-b-10">Basic Example</h4>
          <p class="mg-b-30">You can put any element to off-canvas sidebar like in the example below.</p>

          <div data-label="Example" class="df-example">
            <a href="#offCanvas1" class="btn btn-secondary off-canvas-menu mn-ht-0">Show Sidebar</a>
          </div>
          <pre></pre>
          <pre></pre>

          <hr class="mg-y-40" />

          <h4 id="section2" class="mg-b-10">With Overlay</h4>
          <p class="mg-b-30">You can enable overlay by adding class <code>.off-canvas-overlay</code> to <code>.off-canvas</code>.</p>

          <div data-label="Example" class="df-example">
            <a href="#offCanvas2" class="btn btn-secondary mn-ht-0 off-canvas-menu">Show Sidebar</a>
          </div>
          <pre></pre>

          <hr class="mg-y-40" />

          <h4 id="section3" class="mg-b-10">Flip to Right</h4>
          <p class="mg-b-30">You can flip the sidebar to display in right instead of left by adding class <code>.off-canvas-right</code> to <code>.off-canvas</code>.</p>

          <div data-label="Example" class="df-example">
            <a href="#offCanvas3" class="btn btn-secondary mn-ht-0 off-canvas-menu">Show Sidebar</a>
          </div>
          <pre></pre>

          <hr class="mg-y-40" />

          <h5 id="section4" class="mg-b-10">Nav in Off-Canvas</h5>
          <p class="mg-b-30">An off-canvas can have a navigation added.</p>

          <div data-label="Example" class="df-example">
            <a href="#offCanvas4" class="btn btn-secondary mn-ht-0 off-canvas-menu">Show Sidebar</a>
          </div>
          <pre></pre>

          <hr class="mg-y-40" />

          <h5 id="section5" class="mg-b-10">Color & Background</h5>
          <p class="mg-b-30">An off-canvas can have a different background and color by adding some classes.</p>

          <div data-label="Example" class="df-example">
            <a href="#offCanvas5" class="btn btn-primary mn-ht-0 off-canvas-menu is-overlay is-dark" data-color="primary">Primary</a>
            <a href="#offCanvas6" class="btn btn-secondary mn-ht-0 off-canvas-menu is-overlay is-dark" data-color="secondary">Secondary</a>
            <a href="#offCanvas7" class="btn btn-dark mn-ht-0 off-canvas-menu is-overlay is-dark">Dark</a>
          </div>
          <pre></pre>

          <hr class="mg-y-40" />

          <h4 id="section6" class="mg-b-10">Transition Effect</h4>
          <p class="mg-b-30">An off-canvas can change to different transition effect.</p>

          <div data-label="Example" class="df-example">
            <a href="#offCanvas8" class="btn btn-secondary mn-ht-0 off-canvas-menu is-overlay is-dark">Slide In Left</a>
            <a href="#offCanvas9" class="btn btn-secondary mn-ht-0 off-canvas-menu is-overlay is-dark">Reveal</a>
            <a href="#offCanvas10" class="btn btn-secondary mn-ht-0 off-canvas-menu is-overlay is-dark">Push</a>
          </div>
          <pre></pre>

          

        </div>
      </div>
<?php include_once '../includes/component-footer.php'?>