<?php include_once '../includes/component-header.php'?>
<div class="content content-components">
      <div class="container">
        <ol class="breadcrumb df-breadcrumbs mg-b-10">
          <li class="breadcrumb-item"><a href="#">Components</a></li>
          <li class="breadcrumb-item"><a href="#">UI Elements</a></li>
          <li class="breadcrumb-item active" aria-current="page">Pagination</li>
        </ol>

        <h1 class="df-title">Pagination</h1>
        <p class="df-lead">To indicate a series of related content exists across multiple pages. Read the <a href="https://getbootstrap.com/docs/4.2/components/pagination/" target="_blank">Official Bootstrap Documentation</a> for a full list of instructions and other options.</p>

        <hr class="mg-y-40" />

        <h4 id="section1" class="mg-b-10">Basic Example</h4>
        <p class="mg-b-30">Pagination is built with list HTML elements so screen readers can announce the number of available links.</p>

        <div data-label="Example" class="df-example">
          <nav aria-label="Page navigation example">
            <ul class="pagination mg-b-0">
              <li class="page-item disabled"><a class="page-link page-link-icon" href="#"><i data-feather="chevron-left"></i></a></li>
              <li class="page-item active"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link page-link-icon" href="#"><i data-feather="chevron-right"></i></a></li>
            </ul>
          </nav>
        </div>
        <pre></pre>

        <hr class="mg-t-50 mg-b-40" />

        <h4 id="section2" class="mg-b-10">Alignment</h4>
        <p class="mg-b-30">Horizontal alignment of pagination can be done by adding flex utility classes.</p>

        <div data-label="Example" class="df-example">
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item disabled"><a class="page-link page-link-icon" href="#"><i data-feather="chevron-left"></i></a></li>
              <li class="page-item active"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link page-link-icon" href="#"><i data-feather="chevron-right"></i></a></li>
            </ul>
          </nav>

          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end mg-b-0">
              <li class="page-item disabled"><a class="page-link page-link-icon" href="#"><i data-feather="chevron-left"></i></a></li>
              <li class="page-item active"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link page-link-icon" href="#"><i data-feather="chevron-right"></i></a></li>
            </ul>
          </nav>
        </div>
        <pre></pre>

        <hr class="mg-t-50 mg-b-40" />

        <h4 id="section3" class="mg-b-10">Spacing</h4>
        <p class="mg-b-30">A style variation with spaces in between pagination item.</p>

        <div data-label="Example" class="df-example">
          <nav aria-label="Page navigation example">
            <ul class="pagination pagination-space mg-b-0">
              <li class="page-item disabled"><a class="page-link page-link-icon" href="#"><i data-feather="chevron-left"></i></a></li>
              <li class="page-item active"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link page-link-icon" href="#"><i data-feather="chevron-right"></i></a></li>
            </ul>
          </nav>
        </div>
        <pre></pre>

        <hr class="mg-t-50 mg-b-40" />

        <h4 id="section4" class="mg-b-10">Outline Variation</h4>
        <p class="mg-b-30">A style variation with thicker border in every pagination item.</p>

        <div data-label="Example" class="df-example">
          <nav aria-label="Page navigation example">
            <ul class="pagination pagination-outline mg-b-0">
              <li class="page-item disabled"><a class="page-link page-link-icon" href="#"><i data-feather="chevron-left"></i></a></li>
              <li class="page-item active"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link page-link-icon" href="#"><i data-feather="chevron-right"></i></a></li>
            </ul>
          </nav>
        </div>
        <pre></pre>

        <hr class="mg-t-50 mg-b-40" />

        <h4 id="section5" class="mg-b-10">Filled Variation</h4>
        <p class="mg-b-30">A style variation with background color in every pagination item.</p>

        <div data-label="Example" class="df-example">
          <nav aria-label="Page navigation example">
            <ul class="pagination pagination-filled mg-b-0">
              <li class="page-item disabled"><a class="page-link page-link-icon" href="#"><i data-feather="chevron-left"></i></a></li>
              <li class="page-item active"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link page-link-icon" href="#"><i data-feather="chevron-right"></i></a></li>
            </ul>
          </nav>
        </div>
        <pre></pre>

        <hr class="mg-t-50 mg-b-40" />

        <h4 id="section6" class="mg-b-10">Circled</h4>
        <p class="mg-b-30">A style variation with circled pagination item.</p>

        <div data-label="Example" class="df-example">
          <nav aria-label="Page navigation example">
            <ul class="pagination pagination-circle mg-b-0">
              <li class="page-item disabled"><a class="page-link page-link-icon" href="#"><i data-feather="chevron-left"></i></a></li>
              <li class="page-item active"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link page-link-icon" href="#"><i data-feather="chevron-right"></i></a></li>
            </ul>
          </nav>
        </div>
        <pre></pre>

        

      </div>
    </div>
<?php include_once '../includes/component-footer.php'?>