<?php include_once '../includes/component-header.php'?>
<div class="content content-components">
      <div class="container">
        <ol class="breadcrumb df-breadcrumbs mg-b-10">
          <li class="breadcrumb-item"><a href="#">Components</a></li>
          <li class="breadcrumb-item"><a href="#">UI Elements</a></li>
          <li class="breadcrumb-item active" aria-current="page">Placeholder</li>
        </ol>

        <h1 class="df-title">Placeholder</h1>
        <p class="df-lead">Showing placeholder used to reserve space for content that soon will appear in a layout. It can be a paragraph, an image or heading.</p>

        <hr class="mg-y-40" />

        <h4 id="section1" class="mg-b-10">Paragraph</h4>
        <p class="mg-b-30">This placeholder contain a series of lines to display a paragraph like content.</p>

        <div data-label="Example" class="df-example">
          <div class="placeholder-paragraph">
            <div class="line"></div>
            <div class="line"></div>
          </div>
        </div>
        <pre></pre>

        <hr class="mg-t-50 mg-b-40" />

        <h4 id="section2" class="mg-b-10">Aligned Centered</h4>
        <p class="mg-b-30">This placeholder is a paragraph that is aligned centered.</p>

        <div data-label="Example" class="df-example">
          <div class="placeholder-paragraph aligned-centered">
            <div class="line"></div>
            <div class="line"></div>
          </div>
        </div>
        <pre></pre>

        <hr class="mg-t-50 mg-b-40" />

        <h4 id="section3" class="mg-b-10">Aligned Right</h4>
        <p class="mg-b-30">This placeholder is a paragraph that is aligned right.</p>

        <div data-label="Example" class="df-example">
          <div class="placeholder-paragraph aligned-right">
            <div class="line"></div>
            <div class="line"></div>
          </div>
        </div>
        <pre></pre>


        <hr class="mg-t-50 mg-b-40" />

        <h4 id="section4" class="mg-b-10">Media Object</h4>
        <p class="mg-b-30">This is a placeholder of a content that is a media object type component.</p>

        <div data-label="Example" class="df-example">
          <div class="placeholder-media wd-100p wd-sm-55p wd-md-45p">
            <div class="line"></div>
          </div>
        </div>
        <pre></pre>

        

      </div>
    </div>
<?php include_once '../includes/component-footer.php'?>