<?php include_once '../includes/component-header.php'?>
<div class="content content-components content-popovers">
      <div class="container">
        <ol class="breadcrumb df-breadcrumbs mg-b-10">
          <li class="breadcrumb-item"><a href="#">Components</a></li>
          <li class="breadcrumb-item"><a href="#">UI Elements</a></li>
          <li class="breadcrumb-item active" aria-current="page">Popovers</li>
        </ol>

        <h1 class="df-title">Popovers</h1>
        <p class="df-lead">Documentation and examples for adding Bootstrap popovers, like those found in iOS, to any element on your site. Read the <a href="https://getbootstrap.com/docs/4.2/components/popovers/" target="_blank">Official Bootstrap Documentation</a> for a full list of instructions and other options.</p>

        <hr class="mg-y-40" />

        <h4 id="section1" class="mg-b-10">Four Directions</h4>
        <p class="mg-b-30">Four options are available: top, right, bottom, and left aligned.</p>

        <div data-label="Example" class="df-example">
          <div class="row row-sm">
            <div class="col-sm-6 col-md">
              <button type="button" class="btn btn-secondary btn-block" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                Popover Top
              </button>
            </div>
            <div class="col-sm-6 col-md mg-t-10 mg-sm-t-0">
              <button type="button" class="btn btn-secondary btn-block" data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                Popover Right
              </button>
            </div>
            <div class="col-sm-6 col-md mg-t-10 mg-sm-t-20 mg-md-t-0">
              <button type="button" class="btn btn-secondary btn-block" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus
              sagittis lacus vel augue laoreet rutrum faucibus.">
                Popover Bottom
              </button>
            </div>
            <div class="col-sm-6 col-md mg-t-10 mg-sm-t-20 mg-md-t-0">
              <button type="button" class="btn btn-secondary btn-block" data-container="body" data-toggle="popover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                Popover Left
              </button>
            </div>
          </div>
        </div>
        <pre></pre>
        <pre></pre>

        <hr class="mg-t-50 mg-b-40" />

        <h4 id="section2" class="mg-b-10">Dismiss on Next Click</h4>
        <p class="mg-b-30">Use the focus trigger to dismiss popovers on the user’s next click of a different element than the toggle element.</p>

        <div data-label="Example" class="df-example">
          <a tabindex="0" class="btn btn-danger mn-ht-0" role="button" data-toggle="popover" data-trigger="focus" title="Dismissible Popover" data-content="And here's some amazing content. It's very engaging. Right?">Dismissible Popover</a>
        </div>
        <pre></pre>

        <hr class="mg-t-50 mg-b-40" />

        <h4 id="section3" class="mg-b-10">Colored Header</h4>
        <p class="mg-b-30">A custom style variant to create a colored title background of popover available in all four directions.</p>

        <div data-label="Example" class="df-example">
          <div class="row row-sm">
            <div class="col-sm-4">
              <a tabindex="0" class="btn btn-primary btn-block mn-ht-0 btn-popover" role="button" data-trigger="focus" data-placement="top" title="Primary Header" data-content="And here's some amazing content. It's very engaging. Right?">Primary Header</a>
            </div>
            <div class="col-sm-4 mg-t-10 mg-sm-t-0">
              <a tabindex="0" class="btn btn-secondary btn-block mn-ht-0 btn-popover" role="button" data-trigger="focus" data-placement="top" title="Secondary Header" data-content="And here's some amazing content. It's very engaging. Right?">Secondary Header</a>
            </div>
            <div class="col-sm-4 mg-t-10 mg-sm-t-0">
              <a tabindex="0" class="btn btn-success btn-block mn-ht-0 btn-popover" role="button" data-trigger="focus" data-placement="top" title="Success Header" data-content="And here's some amazing content. It's very engaging. Right?">Success Header</a>
            </div>
            <div class="col-sm-4 mg-t-10 mg-sm-t-20">
              <a tabindex="0" class="btn btn-danger btn-block mn-ht-0 btn-popover" role="button" data-trigger="focus" data-placement="top" title="Danger Header" data-content="And here's some amazing content. It's very engaging. Right?">Danger Header</a>
            </div>
            <div class="col-sm-4 mg-t-10 mg-sm-t-20">
              <a tabindex="0" class="btn btn-warning btn-block mn-ht-0 btn-popover" role="button" data-trigger="focus" data-placement="top" title="Warning Header" data-content="And here's some amazing content. It's very engaging. Right?">Warning Header</a>
            </div>
            <div class="col-sm-4 mg-t-10 mg-sm-t-20">
              <a tabindex="0" class="btn btn-info btn-block mn-ht-0 btn-popover" role="button" data-trigger="focus" data-placement="top" title="Info Header" data-content="And here's some amazing content. It's very engaging. Right?">Info Header</a>
            </div>
          </div>
        </div>
        <pre></pre>

        <div class="table-responsive mg-t-25">
          <table class="table table-components">
            <thead>
              <tr>
                <th class="wd-40p">Class Reference</th>
                <th class="wd-60p">Color</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>class="popover popover-header-[color]"</td>
                <td>primary | secondary | success | danger | warning | info</td>
              </tr>
            </tbody>
          </table>
        </div>

        <hr class="mg-y-40" />

        <h4 id="section4" class="mg-b-10">Full Background Color</h4>
        <p class="mg-b-30">A custom style variant to create a full colored background to header and body of popover. Available in all four directions.</p>

        <div data-label="Example" class="df-example">
          <div class="row row-sm">
            <div class="col-sm-4">
              <a tabindex="0" class="btn btn-primary btn-block mn-ht-0 btn-bg-popover" role="button" data-trigger="focus" data-placement="top" title="Primary Popover" data-content="And here's some amazing content. It's very engaging. Right?">Primary Popover</a>
            </div>
            <div class="col-sm-4 mg-t-10 mg-sm-t-0">
              <a tabindex="0" class="btn btn-secondary btn-block mn-ht-0 btn-bg-popover" role="button" data-trigger="focus" data-placement="top" title="Secondary Popover" data-content="And here's some amazing content. It's very engaging. Right?">Secondary Popover</a>
            </div>
            <div class="col-sm-4 mg-t-10 mg-sm-t-0">
              <a tabindex="0" class="btn btn-success btn-block mn-ht-0 btn-bg-popover" role="button" data-trigger="focus" data-placement="top" title="Success Popover" data-content="And here's some amazing content. It's very engaging. Right?">Success Popover</a>
            </div>
            <div class="col-sm-4 mg-t-10 mg-sm-t-20">
              <a tabindex="0" class="btn btn-danger btn-block mn-ht-0 btn-bg-popover" role="button" data-trigger="focus" data-placement="top" title="Danger Popover" data-content="And here's some amazing content. It's very engaging. Right?">Danger Popover</a>
            </div>
            <div class="col-sm-4 mg-t-10 mg-sm-t-20">
              <a tabindex="0" class="btn btn-warning btn-block mn-ht-0 btn-bg-popover" role="button" data-trigger="focus" data-placement="top" title="Warning Popover" data-content="And here's some amazing content. It's very engaging. Right?">Warning Popover</a>
            </div>
            <div class="col-sm-4 mg-t-10 mg-sm-t-20">
              <a tabindex="0" class="btn btn-info btn-block mn-ht-0 btn-bg-popover" role="button" data-trigger="focus" data-placement="top" title="Info Popover" data-content="And here's some amazing content. It's very engaging. Right?">Info Popover</a>
            </div>
          </div>
        </div>
        <pre></pre>

        <div class="table-responsive mg-t-25">
          <table class="table table-components">
            <thead>
              <tr>
                <th class="wd-40p">Class Reference</th>
                <th class="wd-60p">Color</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>class="popover popover-[color]"</td>
                <td>primary | secondary | success | danger | warning | info</td>
              </tr>
            </tbody>
          </table>
        </div>

        

      </div>
    </div>
<?php include_once '../includes/component-footer.php'?>