<?php include_once '../includes/component-header.php'?>
<div class="content content-components">
      <div class="container">
        <ol class="breadcrumb df-breadcrumbs mg-b-10">
          <li class="breadcrumb-item"><a href="#">Components</a></li>
          <li class="breadcrumb-item"><a href="#">UI Elements</a></li>
          <li class="breadcrumb-item active" aria-current="page">Progress</li>
        </ol>

        <h1 class="df-title">Progress</h1>
        <p class="df-lead">Documentation and examples for using Bootstrap custom progress bars featuring support for stacked bars, animated backgrounds, and text labels. Read the <a href="https://getbootstrap.com/docs/4.2/components/progress/" target="_blank">Official Bootstrap Documentation</a> for a full list of instructions and other options.</p>

        <hr class="mg-y-40" />

        <h4 id="section1" class="mg-b-10">Basic Example</h4>
        <p class="mg-b-30">Progress components are built with two HTML elements, some CSS to set the width, and a few attributes.</p>

        <div data-label="Example" class="df-example">
          <div class="progress">
            <div class="progress-bar wd-40p" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <pre></pre>

        <hr class="mg-t-50 mg-b-40" />

        <h4 id="section2" class="mg-b-10">Labels</h4>
        <p class="mg-b-30">Add labels to your progress bars by placing text within the <code>.progress-bar</code>.</p>

        <div data-label="Example" class="df-example">
          <div class="progress ht-20">
            <div class="progress-bar wd-25p" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
          </div>
        </div>
        <pre></pre>

        <hr class="mg-t-50 mg-b-40" />

        <h4 id="section3" class="mg-b-10">Height</h4>
        <p class="mg-b-30">We only set a height value on the progress, so if you change that value the inner progress bar will automatically resize accordingly.</p>

        <div data-label="Example" class="df-example">
          <div class="progress ht-2 mg-b-10">
            <div class="progress-bar wd-40p" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="progress ht-5">
            <div class="progress-bar wd-50p" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <pre></pre>

        <hr class="mg-t-50 mg-b-40" />

        <h4 id="section4" class="mg-b-10">Background</h4>
        <p class="mg-b-30">Use background utility classes to change the appearance of individual progress bars.</p>

        <div data-label="Example" class="df-example">
          <div class="progress mg-b-10">
            <div class="progress-bar bg-success wd-50p" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="progress mg-b-10">
            <div class="progress-bar bg-warning wd-30p" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="progress mg-b-10">
            <div class="progress-bar bg-danger wd-60p" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="progress">
            <div class="progress-bar bg-info wd-40p" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <pre></pre>

        <hr class="mg-t-50 mg-b-40" />

        <h4 id="section5" class="mg-b-10">Multiple Bars</h4>
        <p class="mg-b-30">Include multiple progress bars in a progress component if you need.</p>

        <div data-label="Example" class="df-example">
          <div class="progress">
            <div class="progress-bar bg-danger wd-15p" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
            <div class="progress-bar bg-warning wd-30p" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
            <div class="progress-bar bg-success wd-20p" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <pre></pre>

        <hr class="mg-t-50 mg-b-40" />

        <h4 id="section6" class="mg-b-10">Striped</h4>
        <p class="mg-b-30">Add <code>.progress-bar-striped</code> to any progress bar to apply a stripe via CSS gradient over the progress bar’s background color.</p>

        <div data-label="Example" class="df-example">
          <div class="progress mg-b-10">
            <div class="progress-bar progress-bar-striped wd-50p" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success wd-30p" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <pre></pre>

        <hr class="mg-t-50 mg-b-40" />

        <h4 id="section7" class="mg-b-10">Animated Stripes</h4>
        <p class="mg-b-30">The striped gradient can also be animated.</p>

        <div data-label="Example" class="df-example">
          <div class="progress mg-b-10">
            <div class="progress-bar progress-bar-striped progress-bar-animated wd-75p" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="progress">
            <div class="progress-bar bg-success progress-bar-striped progress-bar-animated wd-45p" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <pre></pre>

        

      </div>
    </div>
<?php include_once '../includes/component-footer.php'?>