<?php include_once '../includes/component-header.php'?>
<div class="content content-components">
      <div class="container">
        <ol class="breadcrumb df-breadcrumbs mg-b-10">
          <li class="breadcrumb-item"><a href="#">Components</a></li>
          <li class="breadcrumb-item"><a href="#">UI Elements</a></li>
          <li class="breadcrumb-item active" aria-current="page">Steps</li>
        </ol>

        <h1 class="df-title">Steps</h1>
        <p class="df-lead">Documentation and examples for showing step indicator or navigation used to indicate completion status of an activity.</p>

        <hr class="mg-y-40" />

        <h4 id="section1" class="mg-b-10">Basic Example</h4>
        <p class="mg-b-30">The base step component is built with flexbox of lines to display a paragraph like content.</p>

        <div data-label="Example" class="df-example">
          <ul class="steps">
            <li class="step-item">
              <a href="" class="step-link">
                <span class="step-number">1</span>
                <span class="step-title">Personal Information</span>
              </a>
            </li>
            <li class="step-item">
              <a href="" class="step-link">
                <span class="step-number">2</span>
                <span class="step-title">Account Information</span>
              </a>
            </li>
            <li class="step-item">
              <a href="" class="step-link">
                <span class="step-number">3</span>
                <span class="step-title">Payment Information</span>
              </a>
            </li>
          </ul>
        </div>
        <pre></pre>

        <hr class="mg-t-50 mg-b-40" />

        <h4 id="section2" class="mg-b-10">Active State</h4>
        <p class="mg-b-30">An active state indicator which is the current step currently in progress of a wizard.</p>

        <div data-label="Example" class="df-example">
          <ul class="steps">
            <li class="step-item active">
              <a href="" class="step-link">
                <span class="step-number">1</span>
                <span class="step-title">Personal Information</span>
              </a>
            </li>
            <li class="step-item">
              <a href="" class="step-link">
                <span class="step-number">2</span>
                <span class="step-title">Account Information</span>
              </a>
            </li>
            <li class="step-item">
              <a href="" class="step-link">
                <span class="step-number">3</span>
                <span class="step-title">Payment Information</span>
              </a>
            </li>
          </ul>
        </div>
        <pre></pre>

        <hr class="mg-t-50 mg-b-40" />

        <h4 id="section3" class="mg-b-10">Disabled State</h4>
        <p class="mg-b-30">A disabled state are those steps which cannot be accessed while the current step is not yet completed.</p>

        <div data-label="Example" class="df-example">
          <ul class="steps">
            <li class="step-item active">
              <a href="#" class="step-link">
                <span class="step-number">1</span>
                <span class="step-title">Personal Information</span>
              </a>
            </li>
            <li class="step-item disabled">
              <a href="#" class="step-link">
                <span class="step-number">2</span>
                <span class="step-title">Account Information</span>
              </a>
            </li>
            <li class="step-item disabled">
              <a href="#" class="step-link">
                <span class="step-number">3</span>
                <span class="step-title">Payment Information</span>
              </a>
            </li>
          </ul>
        </div>
        <pre></pre>

        <hr class="mg-t-50 mg-b-40" />

        <h4 id="section4" class="mg-b-10">Complete State</h4>
        <p class="mg-b-30">A complete state indicator are those steps that are already completed.</p>

        <div data-label="Example" class="df-example">
          <ul class="steps">
            <li class="step-item complete">
              <a href="#" class="step-link">
                <span class="step-number">1</span>
                <span class="step-title">Personal Information</span>
              </a>
            </li>
            <li class="step-item active">
              <a href="#" class="step-link">
                <span class="step-number">2</span>
                <span class="step-title">Account Information</span>
              </a>
            </li>
            <li class="step-item disabled">
              <a href="#" class="step-link">
                <span class="step-number">3</span>
                <span class="step-title">Payment Information</span>
              </a>
            </li>
          </ul>
        </div>
        <pre></pre>

        <hr class="mg-t-50 mg-b-40" />

        <h4 id="section5" class="mg-b-10">Smaller Indicator</h4>
        <p class="mg-b-30">A step indicator with smaller title perfect for using inside a smaller element like cards and widgets.</p>

        <div data-label="Example" class="df-example">
          <ul class="steps steps-sm">
            <li class="step-item complete">
              <a href="#" class="step-link">
                <span class="step-number">1</span>
                <span class="step-title">Personal Information</span>
              </a>
            </li>
            <li class="step-item active">
              <a href="#" class="step-link">
                <span class="step-number">2</span>
                <span class="step-title">Account Information</span>
              </a>
            </li>
            <li class="step-item disabled">
              <a href="#" class="step-link">
                <span class="step-number">3</span>
                <span class="step-title">Payment Information</span>
              </a>
            </li>
          </ul>
        </div>
        <pre></pre>

        <hr class="mg-t-50 mg-b-40" />

        <h4 id="section6" class="mg-b-10">Large Indicator</h4>
        <p class="mg-b-30">A step indicator with bigger title perfect to use in a full page layout.</p>

        <div data-label="Example" class="df-example">
          <ul class="steps steps-lg">
            <li class="step-item complete">
              <a href="#" class="step-link">
                <span class="step-number">1</span>
                <span class="step-title">
                  <span>Personal</span>
                  <span>Information</span>
                </span>
              </a>
            </li>
            <li class="step-item active">
              <a href="#" class="step-link">
                <span class="step-number">2</span>
                <span class="step-title">
                  <span>Account</span>
                  <span>Information</span>
                </span>
              </a>
            </li>
            <li class="step-item disabled">
              <a href="#" class="step-link">
                <span class="step-number">3</span>
                <span class="step-title">
                  <span>Payment</span>
                  <span>Information</span>
                </span>
              </a>
            </li>
          </ul>
        </div>
        <pre></pre>

        <hr class="mg-t-50 mg-b-40" />

        <h4 id="section7" class="mg-b-10">Justified</h4>
        <p class="mg-b-30">A step indicator that expand the width to fill all available space of a parent element having equal width in every step item.</p>

        <div data-label="Example" class="df-example">
          <ul class="steps steps-lg steps-justified">
            <li class="step-item complete">
              <a href="#" class="step-link">
                <span class="step-number">1</span>
                <span class="step-title">
                  <span>Personal</span>
                  <span>Information</span>
                </span>
              </a>
            </li>
            <li class="step-item active">
              <a href="#" class="step-link">
                <span class="step-number">2</span>
                <span class="step-title">
                  <span>Account</span>
                  <span>Information</span>
                </span>
              </a>
            </li>
            <li class="step-item disabled">
              <a href="#" class="step-link">
                <span class="step-number">3</span>
                <span class="step-title">
                  <span>Payment</span>
                  <span>Information</span>
                </span>
              </a>
            </li>
          </ul>
        </div>
        <pre></pre>

        <hr class="mg-t-50 mg-b-40" />

        <h4 id="section8" class="mg-b-10">Tab Variation</h4>
        <p class="mg-b-30">A step indicator that uses tab style variation and also expand the width to fill all available space of a parent element having equal width in every step item.</p>

        <div data-label="Example" class="df-example">
          <ul class="steps steps-justified steps-tab">
            <li class="step-item complete">
              <a href="" class="step-link">
                <span class="step-number">1</span>
                <span class="step-title">Personal Information</span>
              </a>
            </li>
            <li class="step-item active">
              <a href="" class="step-link">
                <span class="step-number">2</span>
                <span class="step-title">Account Information</span>
              </a>
            </li>
            <li class="step-item disabled">
              <a href="" class="step-link">
                <span class="step-number">3</span>
                <span class="step-title">Payment Information</span>
              </a>
            </li>
          </ul>
        </div>
        <pre></pre>

        <hr class="mg-t-50 mg-b-40" />

        <h4 id="section9" class="mg-b-10">Using Icon</h4>
        <p class="mg-b-30">A step indicator that uses icon instead of a step number indicator.</p>

        <div data-label="Example" class="df-example">
          <ul class="steps">
            <li class="step-item complete">
              <a href="" class="step-link">
                <span class="step-icon"><i data-feather="user"></i></span>
                <span class="step-title">Personal Information</span>
              </a>
            </li>
            <li class="step-item active">
              <a href="" class="step-link">
                <span class="step-icon"><i data-feather="layers"></i></span>
                <span class="step-title">Account Information</span>
              </a>
            </li>
            <li class="step-item disabled">
              <a href="" class="step-link">
                <span class="step-icon"><i data-feather="credit-card"></i></span>
                <span class="step-title">Payment Information</span>
              </a>
            </li>
          </ul>
        </div>
        <pre></pre>

        <hr class="mg-t-50 mg-b-40" />

        <h4 id="section10" class="mg-b-10">With Desription</h4>
        <p class="mg-b-30">A step indicator with some brief description to every steps.</p>

        <div data-label="Example" class="df-example">
          <ul class="steps">
            <li class="step-item complete">
              <a href="" class="step-link">
                <span class="step-icon"><i data-feather="user"></i></span>
                <div>
                  <span class="step-title">Personal Information</span>
                  <span class="step-desc">Enter your personal details.</span>
                </div>
              </a>
            </li>
            <li class="step-item active">
              <a href="" class="step-link">
                <span class="step-icon"><i data-feather="layers"></i></span>
                <div>
                  <span class="step-title">Account Information</span>
                  <span class="step-desc">Enter your account details.</span>
                </div>
              </a>
            </li>
            <li class="step-item disabled">
              <a href="" class="step-link">
                <span class="step-icon"><i data-feather="credit-card"></i></span>
                <div>
                  <span class="step-title">Payment Information</span>
                  <span class="step-desc">Enter your credit card details.</span>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <pre></pre>

        <hr class="mg-t-50 mg-b-40" />

        <h4 id="section11" class="mg-b-10">Vertical</h4>
        <p class="mg-b-30">A step indicator that align vertically perfect for larger list of steps.</p>

        <div data-label="Example" class="df-example">
          <ul class="steps steps-vertical">
            <li class="step-item complete">
              <a href="" class="step-link">
                <span class="step-number">1</span>
                <span class="step-title">Personal Information</span>
              </a>
            </li>
            <li class="step-item active">
              <a href="" class="step-link">
                <span class="step-number">2</span>
                <span class="step-title">Account Information</span>
              </a>
            </li>
            <li class="step-item disabled">
              <a href="" class="step-link">
                <span class="step-number">3</span>
                <span class="step-title">Payment Information</span>
              </a>
            </li>
          </ul>
        </div>
        <pre></pre>

        <hr class="mg-t-50 mg-b-40" />

        <h4 id="section12" class="mg-b-10">Sub Steps</h4>
        <p class="mg-b-30">A step indicator that have a sub step inside of a parent step element. Applicable only when steps are set to vertical</p>

        <div data-label="Example" class="df-example">
          <ul class="steps steps-vertical">
            <li class="step-item complete">
              <a href="" class="step-link">
                <span class="step-number">1</span>
                <span class="step-title">Personal Information</span>
              </a>
              <ul>
                <li class="complete"><a href="">Contact Details</a></li>
                <li class="complete"><a href="">Job Experience</a></li>
                <li class="complete"><a href="">Educational Background</a></li>
              </ul>
            </li>
            <li class="step-item active">
              <a href="" class="step-link">
                <span class="step-number">2</span>
                <span class="step-title">Account Information</span>
              </a>
              <ul>
                <li class="complete"><a href="">Favorites</a></li>
                <li class="active"><a href="">Collections</a></li>
                <li class="disabled"><a href="">Products</a></li>
              </ul>
            </li>
            <li class="step-item disabled">
              <a href="" class="step-link">
                <span class="step-number">3</span>
                <span class="step-title">Payment Information</span>
              </a>
              <ul>
                <li><a href="">Purchases</a></li>
                <li><a href="">Order History</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <pre></pre>

        

      </div>
    </div>
<?php include_once '../includes/component-footer.php'?>